<div class="bg-dark">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark container">

        <a class="navbar-brand" href="#">Ilerna</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
            <a class="nav-link" href="#">Inicio</a>
            </li>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categorias
            </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Categoria 1</a>
                    <a class="dropdown-item" href="#">Categoria 2</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Categoria 3</a>
                </div>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Blog</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Contacto</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit"><span class="bi bi-search"></span></button>
        </form>
        </div>

    </nav>

</div>
<div class="bg-info">

    <div class="container">

        <h1 class="text-white pt-5 display-3"><strong>Classe de DAW2</strong></h1>
        <h5 class="text-white pb-5">Alumnos y profesores todos contentos</h5>

    </div>

</div>

<div class="container">

    <div class="row">

        <div class="col-8 col-md">

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                  <li class="breadcrumb-item"><a href="#">Categorias</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Diseño web</li>
                </ol>
            </nav>

            <article class="row">

                <div class="col-6 col-md-4">

                    <img src="/assets/articulo-1.png" width="240px">

                </div>

                <div class="col-12 col-sm-6 col-md-8">

                    <h4>Vente a estudiar programacion web</h4>

                    <p>1 de Enero del 2020 por <a href="#">Nelson Perez</a></p>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum inventore ad id necessitatibus, esse laboriosam exercitationem ea vero eos deserunt repellendus similique placeat ipsum iste atque? Minima quam iure eum error? Eius vero qui in error ducimus sint laudantium deleniti dolore a cupiditate? Porro delectus animi quibusdam quam error maxime accusamus ullam ut et quae voluptatem eius ea, repellendus, molestiae, optio fugit aspernatur? Illo earum facilis possimus quis nihil repudiandae similique ipsa reiciendis quibusdam, sunt aut ipsam corporis ad necessitatibus consectetur sint ut qui laborum recusandae magnam. Ratione veritatis, officiis excepturi odit officia error eos facere! Asperiores suscipit sed alias.</p>

                    <a class="btn btn-primary" href="#" role="button">Leer mas</a>

                    <button type="button" class="btn btn-success ml-3">
                        Comentarios <span class="badge badge-light">20</span>
                    </button>

                </div>

                <hr class="mt-5 mb-5">

            </article>

            <hr class="border border-dark">

            <br>

            <article class="row">

                <div class="col-6 col-md-4">

                    <img src="/assets/articulo-2.png" width="240px">

                </div>

                <div class="col-12 col-sm-6 col-md-8">

                    <h4>Vente a estudiar programacion web</h4>

                    <p>1 de Enero del 2020 por <a href="#">Nelson Perez</a></p>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti magni accusamus ut unde, expedita assumenda non ratione suscipit! Eum reiciendis voluptate quasi ipsam laudantium sint at natus iusto totam eaque quas, omnis atque esse sunt eius assumenda nesciunt perferendis velit. Eos, velit adipisci placeat quo suscipit laudantium. Voluptatibus, temporibus consectetur.</p>

                    <a class="btn btn-primary" href="#" role="button">Leer mas</a>

                    <button type="button" class="btn btn-success ml-3">
                        Comentarios <span class="badge badge-light">13</span>
                    </button>

                </div>

            </article>

            <hr class="border border-dark">

            <br>

            <article class="row">

                <div class="col-6 col-md-4">

                    <img src="/assets/articulo-3.png" width="240px">

                </div>

                <div class="col-12 col-sm-6 col-md-8">

                    <h4>Vente a estudiar programacion web</h4>

                    <p>1 de Enero del 2020 por <a href="#">Nelson Perez</a></p>

                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam aliquid quas quidem nesciunt sint neque consequatur inventore, libero corporis quaerat. Voluptatum maxime a ea, id rem aspernatur, animi vero quos quas nihil doloribus corporis dolor asperiores magnam, libero sint voluptate! Aliquam fugiat alias soluta reiciendis tempore, exercitationem natus ab voluptate?</p>

                    <a class="btn btn-primary" href="#" role="button">Leer mas</a>

                    <button type="button" class="btn btn-success ml-3">
                        Comentarios <span class="badge badge-light">0</span>
                    </button>

                </div>

            </article>

            <hr class="border border-dark">

        </div>

        <div class="col-4 d-md-none d-lg-block">

            <div>

                <h4 class="mt-3">Categorias</h4>

                <ul class="list-group">
                    <li class="list-group-item active">Diseño Web</li>
                    <li class="list-group-item">CSS</li>
                    <li class="list-group-item">Cursos</li>
                    <li class="list-group-item">Desarrollo Web</li>
                    <li class="list-group-item">JQuery</li>
                  </ul>

            </div>

            <div>

                <h4 class="mt-3">Articulos Recientes</h4>

                <div class="list-group">
                    <a class="list-group-item list-group-item-action flex-column align-items-start">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">List group item heading</h5>
                      </div>
                      <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                    </a>
                    <a class="list-group-item list-group-item-action flex-column align-items-start">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">List group item heading</h5>
                      </div>
                      <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                    </a>
                    <a class="list-group-item list-group-item-action flex-column align-items-start">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">List group item heading</h5>
                      </div>
                      <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                    </a>
                  </div>

            </div>

        </div>

    </div>

    <br>

    <div>

        <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">5</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
    </div>

</div>

<br>

<div class="container">

    <footer>

        <p class="float-left">Gerard Rey i Aida Jesus - Clase de DAW2</p>

        <p class="float-right"><a href="#">Inicio</a>&nbsp;&nbsp;<a href="#">Cursos</a>&nbsp;&nbsp;<a href="#">Contacto</a></p>

    </footer>

</div>

